In [ ]:
from google.colab import files
files.upload()

Saving transport.csv to transport (1).csv

{'transport.csv': b'tMode,weight,gender,carOwner,travelCost,income,transport\r\nbus,56,male,0,cheap,low,bus\r\nbus,57,male,1,cheap,medium,bus\r\ntrain,89,female,1,cheap,medium,train\r\nbus,80,female,0,cheap,low,bus\r\nbus,78,male,1,cheap,medium,bus\r\ntrain,68,male,0,standard,medium,train\r\ntrain,60,female,1,standard,medium,train\r\ncar,65,female,1,expensive,high,car\r\ncar,70,male,2,expensive,medium,car\r\ncar,68,female,2,expensive,high,car\r\n'}

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df1=pd.read_csv("transport.csv")
df1.head(13)

   tMode  weight  gender  carOwner travelCost  income transport
0    bus      56    male         0      cheap     low       bus
1    bus      57    male         1      cheap  medium       bus
2  train      89  female         1      cheap  medium     train
3    bus      80  female         0      cheap     low       bus
4    bus      78    male         1      cheap  medium       bus
5  train      68    male         0   standard  medium     train
6  train      60  female         1   standard  medium     train
7    car      65  female         1  expensive    high       car
8    car      70    male         2  expensive  medium       car
9    car      68  female         2  expensive    high       car

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
#for tMode
ord_enc = OrdinalEncoder()
df1["tMode-1"] = ord_enc.fit_transform(df1[["tMode"]])
df1[["tMode", "tMode-1"]].head(11)

#for transport

ord_enc = OrdinalEncoder()
df1["transport-1"] = ord_enc.fit_transform(df1[["transport"]])
df1[["transport", "transport-1"]].head(11)

# for male,travelCost,income
ord_enc = OrdinalEncoder()
df1["gender-1"] = ord_enc.fit_transform(df1[["gender"]])
df1[["gender", "gender-1"]].head(11)

ord_enc = OrdinalEncoder()
df1["income-1"] = ord_enc.fit_transform(df1[["income"]])
df1[["income", "income-1"]].head(11)

ord_enc = OrdinalEncoder()
df1["travelCost-1"] = ord_enc.fit_transform(df1[["travelCost"]])
df1[["travelCost", "travelCost-1"]].head(11)

df1

,tMode,weight,gender,carOwner,travelCost,income,transport,tMode-1,transport-1,gender-1,income-1,travelCost-1
0,bus,56,male,0,cheap,low,bus,0.0,0.0,1.0,1.0,0.0
1,bus,57,male,1,cheap,medium,bus,0.0,0.0,1.0,2.0,0.0
2,train,89,female,1,cheap,medium,train,2.0,2.0,0.0,2.0,0.0
3,bus,80,female,0,cheap,low,bus,0.0,0.0,0.0,1.0,0.0
4,bus,78,male,1,cheap,medium,bus,0.0,0.0,1.0,2.0,0.0
5,train,68,male,0,standard,medium,train,2.0,2.0,1.0,2.0,2.0
6,train,60,female,1,standard,medium,train,2.0,2.0,0.0,2.0,2.0
7,car,65,female,1,expensive,high,car,1.0,1.0,0.0,0.0,1.0
8,car,70,male,2,expensive,medium,car,1.0,1.0,1.0,2.0,1.0
9,car,68,female,2,expensive,high,car,1.0,1.0,0.0,0.0,1.0

In [ ]:
df2=df1.drop(['gender','travelCost','income','transport','tMode'],axis=1)
df2
# df1.drop(df1.column[0,1,2],axis=1)

   weight  carOwner  tMode-1  transport-1  gender-1  income-1  travelCost-1
0      56         0      0.0          0.0       1.0       1.0           0.0
1      57         1      0.0          0.0       1.0       2.0           0.0
2      89         1      2.0          2.0       0.0       2.0           0.0
3      80         0      0.0          0.0       0.0       1.0           0.0
4      78         1      0.0          0.0       1.0       2.0           0.0
5      68         0      2.0          2.0       1.0       2.0           2.0
6      60         1      2.0          2.0       0.0       2.0           2.0
7      65         1      1.0          1.0       0.0       0.0           1.0
8      70         2      1.0          1.0       1.0       2.0           1.0
9      68         2      1.0          1.0       0.0       0.0           1.0

In [ ]:
corr = df2.corr(method="pearson")

print(corr)

                weight  carOwner   tMode-1  transport-1  gender-1  income-1  \
weight        1.000000  0.043959  0.180443     0.180443 -0.327569  0.156340
carOwner      0.043959  1.000000  0.154782     0.154782 -0.142857 -0.107143
tMode-1       0.180443  0.154782  1.000000     1.000000 -0.361158  0.210675
transport-1   0.180443  0.154782  1.000000     1.000000 -0.361158  0.210675
gender-1     -0.327569 -0.142857 -0.361158    -0.361158  1.000000  0.500000
income-1      0.156340 -0.107143  0.210675     0.210675  0.500000  1.000000
travelCost-1 -0.313921  0.128037  0.724450     0.724450 -0.128037  0.032009

              travelCost-1
weight           -0.313921
carOwner          0.128037
tMode-1           0.724450
transport-1       0.724450
gender-1         -0.128037
income-1          0.032009
travelCost-1      1.000000

In [ ]:
def correlation(dataset, threshold):
    col_corr = set()  # Set of all the names of correlated columns
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            # print(i,j)
            if abs(corr_matrix.iloc[i, j]) > threshold: # we are interested in absolute coeff value
                colname = corr_matrix.columns[i]  # getting the name of column
                # print(colname)
                col_corr.add(colname)
    return col_corr

In [ ]:
corr_features = correlation(df2, 0.18)
len(set(corr_features))

5

In [ ]:
corr_features

{'gender-1', 'income-1', 'tMode-1', 'transport-1', 'travelCost-1'}

In [ ]:
df3=df2.drop(['gender-1','travelCost-1','income-1','transport-1','tMode-1'],axis=1)
df3

   weight  carOwner
0      56         0
1      57         1
2      89         1
3      80         0
4      78         1
5      68         0
6      60         1
7      65         1
8      70         2
9      68         2

In [ ]:
corr = df3.corr(method="pearson")

print(corr)

            weight  carOwner
weight    1.000000  0.043959
carOwner  0.043959  1.000000

In [ ]:
def correlation(dataset, threshold):
    col_corr = set()  # Set of all the names of correlated columns
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            print(i,j)
            if abs(corr_matrix.iloc[i, j]) > threshold: # we are interested in absolute coeff value
                colname = corr_matrix.columns[i]  # getting the name of column
                print(colname)
                col_corr.add(colname)
    return col_corr

In [ ]:
corr_features = correlation(df3, 0.5)
len(set(corr_features))

1 0

0

In [ ]:
corr_features

set()